* {
    direction: rtl;
  margin: 0;
  padding: 0;
  list-style: none;
}
:root {
  --pruple-dark: #6b21a8;
  --pruple-light: #c084fc;
  --pruple: #6947a4;
  --pruple-blue: #4e3797;
  --bg: #f5f6fa;
  --white: #fff;
  --gray-dark: #343946;
  --gray-light: #b1bac8;
  --gray: #98a2b3;
  --light-blue: #5bbec2;
  --light-blue-1: #91d8db;
  --text: #4d4d4d;
  --gray-light-1: #eaecf0;
}

@font-face {
  font-family: "Next";
  src: url(assist/font/Next.ttf);
}
@font-face {
  font-family: "Next bold";
  src: url(assist/font/Next-Bold.ttf);
}
@font-face {
  font-family: "Next medium";
  src: url(assist/font/Next-Medium.ttf);
}

body {
  font-family: Next, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #34394600;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  padding: 2em 4em;
}
.nav-logo img {
  width: 13vw;
}
.nav-items ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.continer {
  background-color: #6947a4;
  height: 100vh;
  background-size: cover;
  color: var(--white);
}
.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-1,
.title-2 {
  font-size: 6em;
  font-family: Next bold;
}
.card-logo-1 img {
  width: 50px;
  height: 50px;
}
.card-sec {
  width: 20em;
  height: 15em;
  background-color: var(--white);
  border-right: 1em solid var(--gray-light-1);
  border-radius: 8px;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5em;
}
.title-head-2 {
  color: var(--pruple-blue);
  font-family: Next bold;
  font-size: 2em;
}
.card-sub-title {
  font-family: Next medium;
}
.continer-2 {
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}
.location,
.caleander,
.caleander-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5em;
}
.card-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-size: 1.3em;
}
.loc-cal {
  display: flex;
  flex-direction: row-;
  gap: 1em;
}
.time-deltil {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.detils {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.card-group {
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.continer-3{
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    background-color: var(--white);
}
.continer-4{
    padding: 5em;
    display: flex;
    gap: 4em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--pruple-blue);
}
.title-head-3{
    color: var(--white);
  font-family: Next bold;
  font-size: 2em;
}
.card-c-4{
    height: 15vw;
    width: 25vh;
    background-color: var(--white);
    padding: 5%;
    border-radius: 10px;
}
.right-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
}
img{
    border-radius: 0.5em;
}
div .card-c-5{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    background-color: var(--gray);
    padding: 5%;

}
.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-colmn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
}
.left-right{
    display: flex;
    flex-direction: row-;
}
.news-item .news-ban{
    margin: 4em 0;
}
.btn-news{
    padding: 10%;
}